alembic==1.7.5
astroid==2.9.3
cachelib==0.6.0
cffi==1.15.0
click==8.0.3
cryptography==36.0.1
Deprecated==1.2.13
flake8==4.0.1
Flask==1.1.2
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
isort==5.10.1
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
lazy-object-proxy==1.7.1
Mako==1.1.6
MarkupSafe==2.0.1
mccabe==0.6.1
msgpack==1.0.3
nodeenv==1.6.0
packaging==21.3
parso==0.8.3
platformdirs==2.4.1
pluggy==1.0.0
pycodestyle==2.8.0
pycparser==2.21
pydocstyle==6.1.1
pyflakes==2.4.0
pylint==2.12.2
PyMySQL==1.0.2
pyparsing==3.0.7
redis==4.1.2
rope==0.22.0
snowballstemmer==2.2.0
SQLAlchemy==1.4.31
toml==0.10.2
ujson==5.1.0
Werkzeug==2.0.2
wrapt==1.13.3
WTForms==3.0.1
yapf==0.32.0
